  <!DOCTYPE html>
  <html>
  <head>
    <title>MIT Courses</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/test.css">

    <script type="text/javascript" src="/assets/script.js"></script>

  </head>
  <body>
    <div id="app">
      <v-app light>
        <template>

          <!---header-->
          <v-toolbar color="blue darken-2">

            <a href="/" style="text-decoration:none"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/MIT_logo.svg/1280px-MIT_logo.svg.png" alt="MIT logo" height="30"></a>
            <a href="/"><h1 style="color: #fff; font-weight: 400; font-size: 30px; margin-left: 10px;">Courses</h1></a>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-sm-and-down">
              <v-btn href="/" flat style="color: #fff;" id="test" >MAIN</v-btn>
              <v-btn flat style="color: #fff;" >COURSES</v-btn>
              <v-btn href="/teachers" style="color: #fff;" flat >TEACHERS</v-btn>



            </v-toolbar-items>
          </v-toolbar>

          <!--konec headera-->


          <!--parallax-->
        </template>
        <v-content>
          <section>
            <v-parallax src="https://lh3.googleusercontent.com/-oesnyGiIHw8/VU6dINrHNQI/AAAAAAAAbiM/oKnneuEo4KU/w2048-h1820/fon116%2B2160x1920.png" height="900">
              <v-layout
              column
              align-center
              justify-center
              class="white--text"
              >
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/MIT_logo.svg/1280px-MIT_logo.svg.png" alt="MIT logo" height="100">

              <p style="font-weight: 900; font-size: 100px;" class="text-xs-center">MIT Courses</p>


              <p style="font-weight: 100; font-size: 30px;">Powered by</p>
              <img src="http://sdu.edu.kz/static/images/sdu_only.svg" alt="SDU Logo" height="50">
              <v-btn href="#get"
              class="blue lighten-2 mt-5"
              dark
              large

              >
              Get Started
            </v-btn>
          </v-layout>
        </v-parallax>
      </section>


      <v-content>
        <v-flex xs12 md12>
          <v-container fluid style="background: linear-gradient(to right, #4298f4,#1e74ff);">
            <v-layout
            align-center
            justify-space-around
            wrap
            >
            <v-avatar>
              <i class="fas fa-book-open" style="font-size: 60px; color: white;"></i>
              <h5 class="text-sm-center" style="font-weight: 400; font-size: 20px; margin-left: 10px; color: #fff" >Interesting courses</h5>
            </v-avatar>


            <v-avatar>
              <i class="fas fa-chalkboard-teacher" style="font-size: 60px; color: white;"></i>
              <h5 class="text-sm-center" style="font-weight: 400; font-size: 20px; margin-left: 10px; color: #fff" >Professional teachers</h5>
            </v-avatar>

            <v-avatar>
              <i class="fas fa-scroll" style="font-size: 60px; color: white"></i>
              <h5 class="text-sm-center" style="font-weight: 400; font-size: 20px; margin-left: 10px; color: #fff" >Certification after course</h5>
            </v-avatar>


          </v-layout>
        </v-container>
      </v-flex>
    </v-content>

    <!--konec parallaxa-->

    <!--courses-->


    <section>
      <v-layout
      column
      wrap
      class="my-5"
      align-center
      >
      <v-flex xs12 sm4 class="my-3">
        <div class="text-xs-center">
          <h1 class="headline" id="get">The best way to learn something new</h1>
          <span class="subheading">
            Here the list of courses which you can pass
          </span>
        </div>
      </v-flex>

      <!--courses list-->

      <v-flex xs12>
        <v-container grid-list-xl>
          <v-layout row wrap align-center>
            <v-flex xs12 md4>
              <!--course1-->
              <v-card>
                <v-img
                src="https://fitnessexpert.com/sites/default/files/journal-anonce/start-up-business.jpg"
                height="200px"
                >
              </v-img>

              <v-card-title primary-title>
                <div>
                  <div class="headline">Launching New Ventures: A Crash Course in Startups and Entrepreneurship</div>
                  <span class="grey--text">Interested in potentially starting your own venture and making your mark on the world? Enterpreneurship and innovation is not something people are born with - they are skills, practices, and mindsets that can be taught and learned, Join the director of MIT's undergraduate entrepreneurship club in a three week team project-based crash course in building your own future.</span>
                </div>
              </v-card-title>

              <v-card-actions>
                <v-btn href="/reg/WEB-programming" color="info">Buy</v-btn>





                <v-dialog
                v-model="dialog"
                width="500"
                >
                <v-btn
                href="info"
                slot="activator"
                color="teal lighten-2"
                outline
                style="margin-left: 10px;"
                >
                Info
              </v-btn>

              <v-card>
                <v-card-title
                class="headline grey lighten-2"
                primary-title
                >
                About Course
              </v-card-title>

              <v-card-text>
                Web programming refers to the writing, markup and coding involved in Web development, which includes Web content, Web client and server scripting and network security. The most common languages used for Web programming are XML, HTML, JavaScript, Perl 5 and PHP. Web programming is different from just programming, which requires interdisciplinary knowledge on the application area, client and server scripting, and database technology.
              </v-card-text>

              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                color="primary"
                flat
                @click="dialog = false"
                >
                Close
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <h2 style="margin-left: 10px;">40.000 KZT</h2>



      </v-card-actions>


    </v-card>
  </v-flex>
  <v-flex xs12 md4>

    <v-card>
      <v-img
      src="https://miro.medium.com/max/854/1*60gs-SFYyooZZBxatuoNJw.jpeg"
      height="200px"
      >
    </v-img>

    <v-card-title primary-title>
      <div>
        <div class="headline">Machine Learning</div>
        <span class="grey--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
        </div>
      </v-card-title>

      <v-card-actions>
        <v-btn href="/reg/Machine Learning" color="info">Buy</v-btn>


        <v-dialog
        v-model="dialog4"
        width="500"
        >
        <v-btn
        href="info"
        slot="activator"
        color="teal lighten-2"
        outline
        style="margin-left: 10px;"
        >
        Info
      </v-btn>

      <v-card>
        <v-card-title
        class="headline grey lighten-2"
        primary-title
        >
        About Course
      </v-card-title>

      <v-card-text>
        Machine learning (ML) is a field of artificial intelligence that uses statistical techniques to give computer systems the ability to "learn" (e.g., progressively improve performance on a specific task) from data, without being explicitly programmed. The name machine learning was coined in 1959 by Arthur Samuel.
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
        color="primary"
        flat
        @click="dialog4 = false"
        >
        Close
      </v-btn>
    </v-card-actions>
  </v-card>
  </v-dialog>
  <h2 style="margin-left: 10px;">40.000 KZT</h2>



  </v-card-actions>


  </v-card>
  </v-flex>
  <v-flex xs12 md4>
    <v-card>

      <v-card>
        <v-img
        src="https://cdn.techopedia.com/images/uploads/brochure-flyer-paper-poster-star-symbol-emblem-label-text.jpg?width=370&height=250&mode=crop"
        height="200px"
        >
      </v-img>

      <v-card-title primary-title>
        <div>
          <div class="headline">IT-marketing</div>
          <span class="grey--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn href="/reg/IT-Marketing" color="info">Buy</v-btn>

          <v-dialog
          v-model="dialog5"
          width="500"
          >
          <v-btn
          href="info"
          slot="activator"
          color="teal lighten-2"
          outline
          style="margin-left: 10px;"
          >
          Info
        </v-btn>
        
        <v-card>
          <v-card-title
          class="headline grey lighten-2"
          primary-title
          >
          About Course
        </v-card-title>

        <v-card-text>
          iR Marketing is a full service consulting and marketing agency that specializes in brand marketing and sales campaigns for small and medium size businesses.
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
          color="primary"
          flat
          @click="dialog5 = false"
          >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <h2 style="margin-left: 10px;">40.000 KZT</h2>


  </v-card>
  </v-flex>

  </v-layout>
  </v-container>
  </v-flex>
  </v-layout>
  </section>


























  <section>
    <v-parallax src="https://www.backgroundkeren.com/wp-content/uploads/2018/06/backabstract-background-ground_14.png" height="380">
      <v-layout column align-center justify-center>
        <div class="outer" href="/register">
          <div class="bg">
            <div class="inner">

              <h1 style="cursor:pointer">Be part of us</h1>

            </div>
          </div>
        </div>
        <h2 class="text-md-center" style="color: #fff; font-weight: 100">Register to participate in new courses</h2>
        <v-btn
        class="blue lighten-2 mt-5"
        dark
        large
        href="/register"
        >
        Get Started
      </v-btn>
    </v-layout>
  </v-parallax>
  </section>



  <v-footer
  dark
  height="auto"
  >
  <v-card
  class="flex"
  flat
  tile
  style="background-color: #fff;"
  >
  <v-card-title class="blue">
    <strong class="subheading">Get connected with us on social networks!</strong>

    <v-spacer></v-spacer>


    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f" style="color: #fff; font-size: 30px;"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram" style="color: #fff; font-size: 30px; margin-left: 50px;"></i></a>
    <a href="https://whatsapp.com/"><i class="fab fa-whatsapp" style="color: #fff; font-size: 30px; margin-left: 50px;"></i></a>
    <a href="https://tlgrm.com/"><i class="fab fa-telegram" style="color: #fff; font-size: 30px; margin-left: 50px; margin-right: 50px;"></i></a>


  </v-card-title>

  <v-card-actions class="blue lighten-2 justify-center">
    &copy;2018 — <strong>MIT Courses</strong>
  </v-card-actions>
  </v-card>
  </v-footer>



  </v-content>
  </v-app>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script>
  new Vue({
    el: '#app',
    data () {
      return {
        title: 'Your Logo',
        dialog : false,
        dialog1: false,
        dialog2: false,
        dialog3: false,
        dialog4: false,
        dialog5: false



      }

      icons: [
        'fab fa-facebook',
        'fab fa-twitter',
        'fab fa-google-plus',
        'fab fa-linkedin',
        'fab fa-instagram'
      ]
    }
  })


  </script>





  </body>
  </html>
